h1 {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.cloud {
    color: cyan;
}

h2 {
    font-style: italic;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    background-color: cornflowerblue;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    
}